:host {
  --ds-expandable-navbar-height: auto;

  nav.navbar {
    /* background-color: var(--ds-navbar-bg); */
    background-color: $gray-200;
    align-items: baseline;
    padding: 0;
  }

  /** Mobile menu styling **/
  /*
  he de posar ', md' i no ', lg' perquè
  quan la pantalla és menor que LG_MIN (992px) desapareix el menú i NO apareix el botó hamburguesa
  el menú hamburguesa apareix quan la pantalla és menor que MD_MIN (768px)
  això controla quan desapareix el menú, però quan apareix el botó hamburguesa
  sembla que la mida de la pantalla que fa aparèixer el botó hamburguesa (MD_MIN) està fixat en una altre css
  */
  @media screen and (max-width: map-get($grid-breakpoints, md)) {
    .navbar {
      width: 100vw;
      /* background-color: var(--bs-white); */
      background-color: $gray-200;
      margin-top: 11px;
      padding-top: 3px !important;
      position: absolute;
      overflow: hidden;
      height: 0;
      z-index: var(--ds-nav-z-index);
      &.open {
        height: auto;
        min-height: 100vh; //doesn't matter because wrapper is sticky
        border-bottom: 1px var(--ds-header-navbar-border-bottom-color) solid; // open navbar covers header-navbar-wrapper border
      }
    }
  }

  @media screen and (min-width: map-get($grid-breakpoints, md)) {
    .reset-padding-md {
      margin-left: calc(var(--bs-spacer) / -1);
      margin-right: calc(var(--bs-spacer) / -1);
    }
  }

  /* TODO remove when https://github.com/twbs/bootstrap/issues/24726 is fixed */
  /*
  */
  .navbar-expand-md.navbar-container {
    @media screen and (max-width: map-get($grid-breakpoints, md)) {
      > .navbar-inner-container {
        padding: 0 var(--bs-spacer);
      }
      padding: 0;
    }
  }

  #main-navbar ::ng-deep {
    .ds-menu-item, .ds-menu-toggler-wrapper {
      white-space: nowrap;
      text-decoration: none;
    }

    .dropdown-menu {
      padding: 0.5rem !important;
    }

    .ds-menu-item {
      display: block;
      color: var(--ds-navbar-link-color);
      padding: 0.5rem 0;

      &:hover, &:focus {
        color: var(--ds-navbar-link-color-hover);
      }
    }
  }
}
