<h4  *ngIf="getImageSrc()" class="simple-view-element-header">{{ label }}</h4>
<div class="item-page-field">
  <a class="item-page-field-ccrights" [href]="rightsUri" target="_blank" [title]="rights">
    <img *ngIf="getImageSrc()" class="img-item-page-field-ccrights" [src]="getImageSrc()" [alt]="rights"/>
  </a>
</div>


<!-- share button -->
 <div class="sharebox">

    <h3>{{label}}</h3>

    <div class="row">

    <!-- X -->
      <div class="col-2 ng-star-inserted">
        <a href="#" class="eventX">
          <i class="fa-brands fa-2x fa-x-twitter text-dark"></i>
        </a>
      </div>

      <!-- bluesky -->
      <div class="col-2 ng-star-inserted">
        <a href="#" class="eventBluesky">
          <i class="fa-brands fa-2x fa-bluesky text-dark"></i>
        </a>
      </div>

  <!-- linkedin -->
  <div class="col-2 ng-star-inserted">
    <a href="#" class="eventLinkedin">
      <i class="fa-brands fa-2x fa-linkedin text-dark"></i>
    </a>
  </div>
  
  <!-- facebook -->
  <div class="col-2 ng-star-inserted">
    <a href="#" class="eventFacebook">
      <i class="fa-brands fa-2x fa-facebook text-dark"></i>
    </a>
  </div>
  
  <!-- telegram -->
  <div class="col-2 ng-star-inserted">
    <a href="#" class="eventTelegram">
      <i class="fa-brands fa-2x fa-telegram text-dark"></i>
    </a>
  </div>
   
    <!-- whatsapp -->
    <div class="col-2 ng-star-inserted">
      <a href="#" class="eventWhatsapp">
        <i class="fa-brands fa-2x fa-whatsapp text-dark"></i>
      </a>
    </div>
  
  <!-- mendeley -->
    <div class="col-2 ng-star-inserted">
      <a target="_blank" [href]="http://www.mendeley.com/import/?url={{getHandle()}}">
        <i class="fa-brands fa-2x fa-mendeley text-dark"></i>
      </a>
    </div>
    <!-- print -->
    <div class="col-2 ng-star-inserted">
      <a  [onclick]="window.print();return false;" href="#" class="print">
        <i class="fa-2x fa-solid fa-print text-dark"></i>
      </a>
    </div>

  </div>

</div>