/* @import '../../../../../styles/variables.scss'; */

.use_identifier {
  background-image: linear-gradient(to bottom, #e8e8e8 0, #f5f5f5 100%);
  background-repeat: repeat-x;
  border-color: #dcdcdc;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}
