<ds-themed-results-back-button *ngIf="showBackButton | async" [back]="back"></ds-themed-results-back-button>
<div class="row" *ngIf="iiifEnabled">
  <div class="col-12">
    <ds-mirador-viewer id="iiif-viewer"
                   [object]="object"
                   [searchable]="iiifSearchEnabled"
                   [query]="iiifQuery$ | async">
    </ds-mirador-viewer>
  </div>
</div>


<div class="row">

  <!-- columna 1 -->
  <div class="col-xs-12 col-md-3">

<!--
    <ng-container *ngIf="!(mediaViewer.image || mediaViewer.video)">
      <ds-metadata-field-wrapper [hideIfNoTextContent]="true">
        <ds-themed-thumbnail [thumbnail]="object?.thumbnail | async"></ds-themed-thumbnail>
      </ds-metadata-field-wrapper>
    </ng-container>
    <div *ngIf="mediaViewer.image || mediaViewer.video" class="mb-2">
      <ds-themed-media-viewer [item]="object"></ds-themed-media-viewer>
    </div>
-->

    <!-- thumbnail
     D:\dspace7-source\dspace-angular-ub\config\config.development.yml
     /dades/dspace-ui-deploy/config/config.prod.yml
      mediaViewer:
        image: false
        video: false
     -->
    <!-- ds-themed-thumbnail [thumbnail]="object?.thumbnail | async"></ds-themed-thumbnail -->
    <ds-themed-media-viewer [item]="object"></ds-themed-media-viewer>

    <!-- files section -->
    <ds-themed-item-page-file-section [item]="object"></ds-themed-item-page-file-section>

    <!-- date -->
    <ds-item-page-date-field [item]="object"></ds-item-page-date-field>


    <!-- ccrights image -->
    <ds-item-page-ccrights-field
      [rightsUri]="object?.firstMetadataValue('dc.rights.uri')"
      [rights]="object?.firstMetadataValue('dc.rights')"
      [label]="'item.page.ccrights' | translate">
    ></ds-item-page-ccrights-field>

  </div>

  <!-- columna 2 -->
  <div class="col-xs-12 col-md-5">

    <div class="use_identifier">
      {{ 'item.page.use_identifier' | translate }}:
      <a href="{{ object?.firstMetadataValue('dc.identifier.uri') }}">{{ object?.firstMetadataValue('dc.identifier.uri') }}</a>
    </div>


    <!-- ds-item-page-uri-field [item]="object"
        [fields]="['dc.identifier.uri']"
        [label]="'item.page.uri'">
    </ds-item-page-uri-field> -->


    <ds-themed-item-page-title-field [item]="object" class="mr-auto"></ds-themed-item-page-title-field>
    <ds-dso-edit-menu></ds-dso-edit-menu>

    <ds-generic-item-page-field [item]="object"
      [fields]="['journal.title']"
      [label]="'item.page.journal-title'">
    </ds-generic-item-page-field>

    <ds-themed-metadata-representation-list class="ds-item-page-mixed-author-field"
      [parentItem]="object"
      [itemType]="'Person'"
      [metadataFields]="['dc.contributor.author', 'dc.creator']"
      [label]="'relationships.isAuthorOf' | translate">
    </ds-themed-metadata-representation-list>

    <ds-generic-item-page-field [item]="object"
      [fields]="['journal.identifier.issn']"
      [label]="'item.page.journal-issn'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
      [fields]="['journalvolume.identifier.name']"
      [label]="'item.page.volume-title'">
    </ds-generic-item-page-field>

    <!--- hernandez "Treure la metadada Editor d’aquesta vista"
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.publisher']"
      [label]="'item.page.publisher'">
    </ds-generic-item-page-field>
    --->

    <ds-item-page-abstract-field [item]="object"></ds-item-page-abstract-field>

    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.description']"
      [label]="'item.page.description'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
        [fields]="['dc.subject']"
        [separator]="', '"
        [label]="'item.page.subject'">
    </ds-generic-item-page-field>

    <ds-generic-item-page-field [item]="object"
        [fields]="['dc.identifier.citation']"
        [label]="'item.page.citation'">
    </ds-generic-item-page-field>

    <ds-item-page-collections [item]="object"></ds-item-page-collections>

    <div>
      <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']" role="button">
        <i class="fas fa-info-circle"></i> {{"item.page.link.full" | translate}}
      </a>
    </div>


  </div>

  <!-- columna 3 -->
  <div class="col-xs-12 col-md-4">

    <!-- Oriol - Citation Export Component -->
    <ds-citation-export [item]="object"></ds-citation-export>

  </div>

</div>
