footer{
    background-color: $dark;

    .cc-zero img{
        width: 5rem;
    }

    .footer-info > li {
        margin: 0px 11px;
    }

    .logo-container{
        float: right;
        margin-left: 33px;

        img {
            height: 77px;
        }
    }

}
